.backgroundImg {
    background-image: url("https://images7.alphacoders.com/333/333216.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 80px;
}

.testimonial {
    color: white;
    font-size: 35px;
    padding: 50px;
}

.custName {
    padding-left: 50px;
    color:white;
}